/***************************************
                RESET
***************************************/
:root{
    --header-color:#0084FD;
    --color-font:white;
    --main-color:#B5DDFF;
    --main-secondary-color:#9792E4;
    --footer-color:#333333;
    --main-font-size:1.2em;
    --main-font-mini-size:1em;
    --main-color-paragraph:#737373;
    --main-color-work:white
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
*:not(ul){
    padding: 0;
}
/***************************************
                GENERAL
***************************************/
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
}
.column{
    width: calc(100% - 40px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.bg-main{
    background-color:var(--main-color) ;
}
.bg-header{
    background-color:var(--header-color) ;
}
.bg-cards{
    background-color: var(--main-secondary-color);
    color: white;
}
.bg-main-work{
    background-color:var( --main-color-work) ;
}
.secondary-color .container .text h1{
    text-align: center;
}
.bg-footer{
    background-color: var( --footer-color);
}
.button{
    border-radius: 20px;
    padding: 10px;
    border: none;
}

@media screen and (min-width:992px) {
    .container{
        padding: 0 20px;
    }
}

/***************************************
                HEADER
***************************************/
header{
    color: white;
}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--color-font);
}
header nav{
    display: none;
}
header nav ul , li{
    display: inline-block;
}
header nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

header .main-icon {
    font-size: 1.3em;
}

header nav .button{
    display: inline-block;
    background-color: white;
}
header .logo img{
    width: 50px;
}


/***************************************
                MAIN
***************************************/
main > section{
   padding: 40px 0;
}
main .secondary-color{
    background-color: var(--main-secondary-color);
}

.cards .card {
    color: var(--main-color-paragraph);
    background-color:var(--main-color);
    font-size:var(--main-font-mini-size);
    padding: 30px;
    text-align: center;
}


.cards .card .title {
    color: var(--header-color);
    font-size:var(--main-font-size);
    margin-bottom: 35px;
}

.cards .card .paragraph:not(:last-child) {
    margin-bottom: 35px;
}

.cards .card .button {
    background-color: var(--header-color);
    color: white;
    padding: 10px 40px;
    margin-bottom: 20px;
}

.cards .card .image {
    margin-bottom: -30px;
}

.cards .card .image img {
    width: 100%;
}

.cards .card .icon{
    font-size: 3.5em;
    margin-bottom: 20px;
}

.cards .card.column.column-tablet-66 {
    text-align: left;
}



@media screen and (min-width:768px){

    .cards .card.column-tablet-66{
        width: calc(((100% / 3) * 2) - 20px);
        display: flex;
    }

    .cards .card.column-tablet-66 .text, .cards .card.column-tablet-66 .image {
        width: 50%;
    }
  
    .cards .card.column-tablet-33{
        width: calc((100% / 3) - 20px);
    }
}

/***************************************
            MAIN 2° SECTION
***************************************/
.banner-card .container .card-left{
    width: 100%;
    color: white;
    padding-top: 30px;
}
.banner-card .container .card-left .image{
    margin-bottom: 65px;
    width: 80%;
}
.banner-card .container .card-left img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.banner-card .container .card-left .text-container{
    padding: 0 25px;
}
.banner-card .container .card-left .title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
}
.banner-card .container .card-left .paragraph{
    font-size:1em;
}
.banner-card .container .card-right{
    width: 100%;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.banner-card .container .card-right .image{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.banner-card .container .card-right img{
    width: 100%;
}
.banner-card .container .card-right .text-container{
    text-align: center;
}
.banner-card .container .card-right .text-container .title{
 font-size: 2em;
 font-weight: bold;
 margin-bottom: 20px;
}
.banner-card .container .card-right .text-container .paragraph{
    font-size: 1em;
    font-style: oblique;
    margin-bottom: 20px;
}
.banner-card .container .card-right .text-container .button{
    background-color: var(--main-secondary-color);
}

@media screen and (min-width:992px){

   .banner-card .container {
        display: flex;
   }

   .banner-card .container .card-left{
        width: 50%;
    }

    .banner-card .container .card-right{
        width: 40%;
        margin-top: 180px;
    }
}

/***************************************
            MAIN 3° SECTION
***************************************/

.card-list .container .text-container{
    text-align: center;
    margin-bottom: 20px;
}
.card-list .container .text-container .testimonials{
    font-size: 0.8em;
    margin-bottom: 20px;
}
.card-list .container .text-container .title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--main-secondary-color);
}
.card-list .container .text-container .subtitle{
    font-size: 1em;
}

.card-list .container .bg-cards .image{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.card-list .container .bg-cards .image img{
    width: 100%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-list .container .bg-cards .text{
   margin-bottom: 10px;
   font-weight: lighter;
   line-height: 1.3em;
   font-size: 1.4em;
   margin-bottom: 20px;
  }
  .card-list .container .bg-cards .sign{
   font-weight: bold;
   font-size: 1.5em;
}

.card-list .list .list-item {
    color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

@media screen and (min-width:768px){
    .card-list .list .list-item {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .card-list .container .bg-cards .image{
        margin-right: 40px;
        margin-bottom: 0;
    }
}

/***************************************
            MAIN 4° SECTION
***************************************/
  .secondary-color .container .text .title{
    color: white;
    margin-bottom: 30px;
    font-size: 2em;
}
.secondary-color .container .row .bg-main-work.column {
    padding: 25px 25px 25px;
   
}
.secondary-color .container .row .bg-main-work.column .number{
    color: var(--main-secondary-color);
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
}
.secondary-color .container .row .bg-main-work.column .title-cards{
    color: var(--main-secondary-color);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
.secondary-color .container .row .bg-main-work.column .subtitle{
   color: var(--main-color-paragraph);
   font-size: 1em;
   line-height: 25px;
   margin-bottom: 20px;
}
.secondary-color .container .row .bg-main-work.column .button{
    margin-top: 5px;
    background-color: var(--main-secondary-color);
    color: white;
    padding: 5px 25px ;
}
/***************************************
               MAIN 5°SECTION
***************************************/ 
.contact .container .row .card-left-about .text .title{
  color: var(--main-secondary-color);
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact .container .row .card-left-about .text {
    padding: 30px;
}
.contact .container .row .card-left-about .text .description{
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 1.2em;
}
.contact .container .row .card-right-about .find .image{
    width: 50%;
    margin-bottom: 25px;
    display: flex;
    position: relative;
}
.contact .container .row .card-right-about .find .image img{
    width: 100%;
    border-radius: 100%;
    aspect-ratio: 2/2;
    object-fit: cover;
}
.contact .container .row .card-right-about .find .image i{
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 5em;
}
.contact .container .row .card-right-about .find .description{
    padding: 20px;
}
.contact .container .row .card-right-about .find .description .paragraph{
    color: var(--main-secondary-color);
    font-size: 2em;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  
}
.contact .container .row .card-right-about .find .button{
    background-color: var(--main-secondary-color);
    color: white;
    padding: 10px 40px;
}
.contact .container .row .card-right-about .find .button i{
    margin-right: 5px;
}
@media screen and (min-width:768px){
    .contact .container .row .card-right-about{
        margin-top: 40px;
    }
    .contact .container .row .card-right-about .find .image{
        margin-left: auto;
        margin-right: auto;
    }
    .contact .container .row .card-right-about .find .image i{
        top: -8px;
        right: -37px;  
    }
   

}

/***************************************
               FOOTER
***************************************/
.bg-footer .footer-container{
    padding: 20px 0;
    text-align: center;
}

/***************************************
                MEDIA QUERY
***************************************/
@media screen and (min-width:768px){
    .secondary-color .container .column-benefit-tablet-33{
        width: calc((100% / 2) - 20px);
    }
    .container .row .card-left-about{
        width: 60%;
    }
    .container .row .card-right-about{
        width: 40%;
    }


}
@media screen and (min-width:992px){
    header nav{
        display: block;
    }
    header .main-icon{
       display: none;
    }
    
    .container .row .card-left-about{
        width: 60%;
    }
    .container .row .card-right-about{
        width: 40%;
    }
    
    .secondary-color .container .column-benefit-desk-33{
        width: calc((100% / 3) - 20px);
    }
}
    