/***************************************
                RESET
***************************************/
:root{
    --header-color:#0084FD;
    --color-font:white;
    --main-color:#B5DDFF;
    --main-secondary-color:#9792E4;
    --footer-color:#333333;
    --main-font-size:1.2em;
    --main-font-mini-size:1em;
    --main-color-paragraph:#737373;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
*:not(ul){
    padding: 0;
}
/***************************************
                GENERAL
***************************************/
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
}
.column{
    width: calc(100% - 40px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.bg-main{
    background-color:var(--main-color) ;
}
.bg-header{
    background-color:var(--header-color) ;
}
.secondary-color .container .text h1{
    text-align: center;
}
.bg-footer{
    background-color: var( --footer-color);
}
.button{
    border-radius: 20px;
    padding: 10px;
    border: none;
}
main .container .row .column-tablet-66 {
    padding-left: 20px;
}
/***************************************
                HEADER
***************************************/
header{
    color: white;
}
#main-nav-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: var(--color-font);
}
#main-nav-container nav{
    display: none;
}
#main-nav-container nav ul , li{
    display: inline-block;
}
#main-nav-container nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
#main-nav-container nav .button{
    display: inline-block;
    background-color: white;
}
#main-nav-container .logo img{
    width: 50px;
}


/***************************************
                MAIN
***************************************/
main > section{
   padding: calc(20px * 2) 0;
}
main .secondary-color{
    background-color: var(--main-secondary-color);
}
main .container .row .column-special{
    display: flex;
}
main .container .row .column-tablet-66 .text{
    width: 50%;
}
main .container .row .column-tablet-66 .text .subtitle{
    color: var(--header-color);
    font-size:var(--main-font-size);
    margin-bottom: 35px;
    margin-top: 10px;
}
main .container .row .column-tablet-66 .text .paragraph{
    color: var(--main-color-paragraph);
    font-size:var(--main-font-mini-size);
    margin-bottom: 35px;
}
main .container .row .column-tablet-66 .text .button{
    background-color: var(--header-color);
    color: white;
    padding: 5px 25px;
    margin-bottom: 20px;
}

main .container .row .column-tablet-66 .image{
    width: 50%;
    margin-top: 36px;
}
main .container .row .column-tablet-66 .image img{
    width: 60%;
    margin-left: 60px;
    
}
main .container .row .column-tablet-33{
    text-align: center;
}
main .container .row .column-tablet-33 .icon{
    font-size: 3.5em;
    margin-bottom: 20px;
}
main .container .row .column-tablet-33 .title{
    color: var(--header-color);
    font-size: var(--main-font-size);
    margin-bottom: 25px;
}
main .container .row .column-tablet-33 .paragraph{
    color: var(--main-color-paragraph);
    font-size: var(--main-font-mini-size);
   margin-bottom: 20px;
   padding: 0 30px;
}
/***************************************
            MAIN 2° SECTION
***************************************/
.secondary-color .container .row .card-left{
    width: 100%;
    color: white;
    padding-top: 30px;
}
.secondary-color .container .row .card-left .image{
    margin-bottom: 65px;
    width: 80%;
}
.secondary-color .container .row .card-left img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.secondary-color .container .row .card-left .text-container{
    padding: 0 25px;
}
.secondary-color .container .row .card-left .title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
}
.secondary-color .container .row .card-left .paragraph{
    font-size:1em;
}
.secondary-color .container .row .card-right{
    width: 100%;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.secondary-color .container .row .card-right .image{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.secondary-color .container .row .card-right img{
    width: 100%;
}
.secondary-color .container .row .card-right .text-container{
    text-align: center;
}
.secondary-color .container .row .card-right .text-container .title{
 font-size: 2em;
 font-weight: bold;
 margin-bottom: 20px;
}
.secondary-color .container .row .card-right .text-container .paragraph{
    font-size: 1em;
    font-style: oblique;
    margin-bottom: 20px;
}
.secondary-color .container .row .card-right .text-container .button{
    background-color: var(--main-secondary-color);
}

/***************************************
               FOOTER
***************************************/
.bg-footer .footer-container{
    padding: 20px 0;
    text-align: center;
}

/***************************************
                MEDIA QUEERY
***************************************/
@media screen and (min-width:768px){
    .column-tablet-33{
        width: calc((100% / 3) - 20px);
    }
    .column-tablet-66{
        width: calc(((100% / 3) * 2) - 20px);
    }
    .secondary-color .container .column-benefit-tablet-33{
        width: calc((100% / 2) - 20px);
    }


}
@media screen and (min-width:992px){
    #main-nav-container nav{
        display: block;
    }
    #main-nav-container .main-icon{
       display: none;
    }
    .secondary-color .container .row .card-left{
        width: 50%;
    }
    .secondary-color .container .row .card-right{
        width: 40%;
        margin-top: 180px;
    }
    .secondary-color .container .column-benefit-desk-33{
        width: calc((100% / 3) - 20px);
    }
}
    